---
import Layout from '@/layouts/Layout.astro'
import { PokemonInfiniteScrollWrapper } from '@/components/PokemonInfiniteScrollWrapper'
import { fetchPokemonPage } from '@/utils/pokemon'
import { getI18n } from '@/utils/i18n'

const { locale: localeParam } = Astro.params
const { locale, t } = getI18n(localeParam)

const initialData = await fetchPokemonPage(1)
---

<Layout title={t.header.pokedex} locale={locale}>
  <div class="pokedex-header relative mb-8 overflow-hidden rounded-4xl p-8 text-center shadow-soft-lg md:p-12">
    <div class="pointer-events-none absolute -top-12 -right-12 h-48 w-48 rounded-full border-[20px] border-current opacity-[0.08]"></div>
    <div class="pointer-events-none absolute -bottom-8 -left-8 h-32 w-32 rounded-full border-[16px] border-current opacity-[0.05]"></div>
    <h1 class="font-heading text-4xl font-bold text-[#2D1B0E] md:text-6xl">
      {t.header.pokedex}
    </h1>
  </div>
  <PokemonInfiniteScrollWrapper client:load initialData={initialData} locale={locale} />
</Layout>
