---
export const prerender = true

import Layout from '@layouts/Layout.astro'
import {
  fetchAllPokemonNames,
  fetchPokemonByName,
  getPokemonImage,
  getPokemonName,
} from '@utils/pokemon'

export async function getStaticPaths() {
  // Only fetch names, not full Pokémon data (much faster!)
  const pokemonNames = await fetchAllPokemonNames()
  return pokemonNames.map((name) => ({ params: { name } }))
}

const { name = '' } = Astro.params
const pokemon = await fetchPokemonByName(name)
---

<Layout title={`Pokémon Astro - ${getPokemonName(name)}`}>
  {
    pokemon && (
      <div class="flex w-full justify-between">
        <ul class="text-2xl">
          <li class="block mb-4 font-bold capitalize text-4xl text-ellipsis overflow-hidden whitespace-nowrap">
            {getPokemonName(name)}
          </li>
          <li>
            {pokemon.types.length > 1 ? 'Types' : 'Type'}:{' '}
            <b class="capitalize">
              {pokemon.types.map(({ type }) => type.name).join(', ')}
            </b>
          </li>
          <li>
            Order: <b>{pokemon.order}</b>
          </li>
          <li>
            Height: <b>{pokemon.height}</b>
          </li>
          <li>
            Weight: <b>{pokemon.weight}</b>
          </li>
        </ul>
        <div>
          <img
            class="aspect-square w-full"
            src={getPokemonImage(pokemon)}
            alt={`${pokemon.name} official artwork`}
          />
        </div>
      </div>
    )
  }
</Layout>
